language: node_js
addons:
  apt:
    packages:
      - libgconf-2-4

cache:
  yarn: true
  directories:
    - node_modules
    - ~/.cache/Cypress
  override:
    - yarn cy:verify
    - yarn cy:info

notifications:
  email: false

node_js:
  - '13.6.0'

install:
  - yarn
  - yarn build

branches:
  except:
    - /^v\d+\.\d+\.\d+$/

stages:
  - test:unit
  - test:e2e

e2e_defaults: &e2e_defaults
  script:
    - $(npm bin)/print-env TRAVIS
    - yarn start:ci &
    - yarn cy:run -- --record --parallel --group $STAGE_NAME
    - kill $(jobs -p) || true

jobs:
  include:
    - stage: test:unit
      script:
        - yarn test
    - stage: test:e2e
      env:
        - STAGE_NAME="4x-electron on Travis CI"
      <<: *e2e_defaults
    - stage: test:e2e
      env:
        - STAGE_NAME="4x-electron on Travis CI"
      <<: *e2e_defaults
    - stage: test:e2e
      env:
        - STAGE_NAME="4x-electron on Travis CI"
      <<: *e2e_defaults
    - stage: test:e2e
      env:
        - STAGE_NAME="4x-electron on Travis CI"
      <<: *e2e_defaults